.idea
*.iml
*.tfstate*
.terraform*

# Compiler files
cache
out

# Ignores development broadcast logs
!/broadcast
/broadcast/**/dry-run/
/broadcast_old

# Dotenv file
.env

# NPM
node_modules

/coverage-report/**
/coverage/**
lcov.info

# macOS system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Generated docs
docs/gen
test/docs/gen