.idea
*.iml
*.tfstate*
.terraform*

# Compiler files
cache
out/*
out

# Ignores development broadcast logs
!/broadcast
/broadcast/**/dry-run/
/broadcast_old

# Dotenv file
.env

# NPM
node_modules

# Artifacts for deployment
!out/Counter.sol
!out/FlywheelCampaigns.sol
!out/FlywheelPublisherRegistry.sol
!out/CampaignBalance.sol
!out/build-info/
!out/build-info/1bd655e5e5e3281b4dff91c8616519ba.json


/coverage-report/**
/coverage/**
lcov.info
