name: foundry-ci

on:
  push:
    branches: [main, master]
    paths:
      - "lib/**"
      - "script/**"
      - "src/**"
      - "test/**"
      - ".github/workflows/foundry-ci.yml"
  pull_request:
    branches: [main, master]
    paths:
      - "lib/**"
      - "script/**"
      - "src/**"
      - "test/**"
      - ".github/workflows/foundry-ci.yml"
  workflow_dispatch: {}

env:
  FOUNDRY_PROFILE: ci

jobs:
  check:
    strategy:
      fail-fast: true

    name: Tests
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@002fdce3c6a235733a90a27c80493a3241e56863 # v2.12.1
        with:
          egress-policy: audit

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - name: Forge build
        run: |
          forge --version
          forge build --skip test --sizes
        id: build

      - name: Forge tests
        run: forge test -vvv
        id: test

      - name: Forge snapshot
        run: |
          forge snapshot
          cat .gas-snapshot >> $GITHUB_STEP_SUMMARY
        id: snapshot
